---
import type { IProductEntity } from '../../types/interfaces/IProduct';
// import Button from "../../components/custom/Button"
import Button from "../../components/custom/Button.astro"
import { getProductByIdFromService } from '../../libs/ProductsService';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { formatCurrency } from '../../utils/Currency';

// export async function getStaticPaths() {
// 	const products = await getProductsFromService({ type: '' })
// 	const productDetailViews = products.map(product => ({
// 		params: {
// 			Product_ID: product._id
// 		}
// 	}))
// 	return productDetailViews
// }

const { Product_ID = '' } = Astro.params
const productData = await getProductByIdFromService(Product_ID) as IProductEntity;
---

<Layout title="Skullshirt">
	<main class="[grid-area:main] px-5 py-10 
	grid grid-cols-1 gap-y-10 md:gap-x-10 md:grid-cols-2 lg:grid-cols-3">
		
		<section class="flex justify-center items-center">
			<Image src={productData.image} alt="Product" 
			class="w-auto h-auto max-h-[400px] shadow-lg"
			width={1} height={1} />
		</section>
		
		<section class="lg:col-span-2 w-full lg:w-fit flex flex-col gap-4 text-grey_dark">

			<article class="font-bold ">
				<h3 class="text-2xl mb-4">
					{productData.name}
					<br class="visible lg:hidden">
					<span class="ms-1 text-grey_light text-sm font-thin">(código: {Product_ID})</span>
				</h3>
				<p class="text-xl">{formatCurrency({ price: productData.price, currency: productData.currency })}</p>
				<div class="w-full h-[2px] mt-4 bg-gray-400 rounded"></div>
			</article>

			<article>
				<label for="default" class="block mb-2 text-md font-medium">
					Seleccione talle:
				</label>
				<select id="default" class="block w-[200px] p-2.5
					bg-transparent border border-gray-400 rounded-lg
					text-sm focus:border-gray-400">
					{
						productData.stockPerSize.map(stockData => (
							<option value={stockData.size}>
								{stockData.size}
							</option>
						))
					}
				</select>
			</article>

			<article class="w-full flex mt-5">
				<Button id="Button_AddToCart" text="Agregar al carrito" />
			</article>

		</section>
			
	</main>
</Layout>

<script>
	const btn = document.getElementById('Button_AddToCart')
	btn?.addEventListener('click', () => {
		alert("Added!")
		console.log("Added");
	})
</script>